@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
    url("./fonts/Roboto_Condensed-Medium.ttf") format("truetype");
  font-weight: bold;
}

body {
  font-family: "RobotoMedium";
}
